<div class="container__small-card-h">
    <div class="container__small-card-h-content">
        <div class="small-card-h__photo">
            <a href="#">
                <img
                    src= "{{smallCardPhoto}}"
                    alt="Logo Node.js"
                >
            </a>
        </div>
        <div class="small-card-h__title">
            <h1><a href="#">Title Small Card</a></h1>
        </div>
    </div>
    <div class="container__small-card-h__separator">
        <hr>
    </div>
</div>