<div class="container__big-card">
    <div class="big-card__photo">
        <a href="#">
            <img 
                src="assets/image.png" 
                alt="Placeholder Image" 
                width="400px"
                height="100px"
            >
        </a>
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">{{ cardTitle }}</a>
        </h1>
    </div>
    <div class="big-card__description">
        <a href="">
            <p>
                {{ cardDescription }}
            </p>
        </a>
    </div>
</div>